#titreCommunication{
    font-family: 'Prompt';
    font-size: 30px !important;
    margin-top: 10px;
    text-align: justify;
}

.js-message>*>*>*{
    /* font-family: 'Barlow Light' !important; */
    /* font-size: 15px; */
    line-height: 20px;
    text-align: justify;
}

/* .js-message>*>*>*>*{
    font-family: 'Barlow Medium' !important;
} */

.list-enhanced1__item{
    width: calc(100% - 20px) !important;
    margin: 0; padding: 0;
    margin-left: auto; margin-right: auto;
    margin-top: 10px !important; margin-bottom: 10px !important;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05) !important;
    border: 1px solid rgba(0, 0, 0, .1) !important;
    overflow: visible !important;
    cursor: pointer;
    transition: .3s;
}
.list-enhanced1__item:hover{
    box-shadow: 0 1.5px 5px 1px rgba(0, 0, 0, .1) !important;
}

#js_boite_reception{
    background-color: rgb(242, 244, 245);
    padding-bottom: 55%;
}

.js-consulterMessage{
    margin-bottom: 7px;
    padding-bottom: 2px;
}

.js-afficherNouveauMessage{
    margin-top: 3px !important;
}

.retourListeMessages{
    margin-top: 3px !important;
}

.content-toolbar > .btn-group > .btn{
    margin-bottom: 0px;
}