#titreCommunication{
    font-family: 'Prompt';
    font-size: 30px !important;
    margin-top: 10px;
    text-align: justify;
}

.js-message>*>*>*{
    /* font-family: 'Barlow Light' !important; */
    /* font-size: 15px; */
    line-height: 20px;
    text-align: justify;
}

/* .js-message>*>*>*>*{
    font-family: 'Barlow Medium' !important;
} */