@font-face {
    font-family: "Source Sans Pro";
    src: url('./font/sans-serif/SourceSansPro-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Source Sans Pro Black';
    src: url('./font/sans-serif/SourceSansPro-Black.ttf') format('truetype')
}

@font-face {
    font-family: 'Source Sans Pro SemiBold';
    src: url('./font/sans-serif/SourceSansPro-SemiBold.ttf') format('truetype')
}

::-webkit-scrollbar{
    display: none;
}

*{
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    -moz-user-select: none;
    margin: 0; padding: 0;
    font-size: 15px;
    outline: none !important;
    font-family: 'Source Sans Pro';
}

body{
    width: 300px;
    height: 500px;
    margin: 0; padding: 0;
    background-color: rgb(34, 34, 34);
}

.ui-controller{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    /* padding: 15px; */
    background-color: rgb(66, 101, 176);
    display: flex;
    align-items: center; justify-content: center;
}

.login{
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 150px);
    width: 300px;
    height: 500px;
    margin: 0; padding: 0;
    padding: 10px;
    box-shadow: 0 5px 10px rgb(24, 25, 28);
    background-color: rgb(24, 25, 28);
}

.title{
    margin: 0;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
    transform: translateY(-8px);
    font-size: 40px;
    font-family: 'Source Sans Pro SemiBold';
    color: gray;
}

.form-group{
    margin: 0; padding: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

label{
    margin: 0; padding: 0;
    margin-bottom: 7.5px;
    margin-left: 2px;
    color: white;
    font-size: 17px;
}

.text-input{
    width: calc(100% - 4px);
    height: 30px;
    margin: 0; padding: 0;
    margin-bottom: 10px;
    margin-left: 2px;
    padding-left: 5px; padding-right: 5px;
    border-radius: 4px;
    border: 2px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    border-radius: 2px;
    transition: .15s linear;
    background-color: rgba(0, 0, 0, 0);
}
.text-input:hover{
    border: 2px solid rgb(160, 66, 248);
    background-color: rgb(30, 30, 30);
    color: rgb(160, 66, 248);
}
.text-input:focus{
    background-color: black;
    box-shadow: 0 0 0 2px rgb(160 66 248);
    color: rgb(160, 66, 248);
    border: 2px solid rgb(160, 66, 248);
}

.btn-submit{
    width: max-content;
    height: 30px;
    margin: 0; padding: 0;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-left: 15px; padding-right: 15px;
    background-color: rgb(166, 79, 248);
    border: 2px solid rgb(166, 79, 248);
    color: white;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: none;
    font-family: 'Source Sans Pro SemiBold';
    transition: .15s linear;
}
.btn-submit:focus{
    background-color: rgb(51, 51, 51);
    box-shadow: 0 0 0 2px rgb(166 79 248);
    color: rgb(186, 112, 255);
    border: 2px solid rgb(166, 79, 248);
}

.user-home{
    display: none;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 150px);
    width: 300px;
    height: 500px;
    margin: 0; padding: 0;
    box-shadow: 0 5px 10px rgb(24, 25, 28);
    background-color: rgb(24, 25, 28);
    overflow-y: auto;
}

.user-home>.banner{
    position: relative;
    width: 100%;
    height: 120px;
    margin: 0; padding: 0;
    /* background-image: url('https://image.shutterstock.com/image-vector/color-gradient-background-design-abstract-260nw-1176137125.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-home>.avatar{
    position: relative;
    width: 80px; height: 80px;
    margin: 0; padding: 0;
    margin-top: -40px;
    margin-left: 20px;
    /* background-color: rgb(100, 100, 100); */
    /* background-image: url('https://img.phonandroid.com/2021/03/netflix-codes-categories.jpg'); */
    border: 6px solid rgb(24, 25, 28);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5); */
}

.user-home>.content{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    padding-left: 20px; padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-home>.content>.username{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 0px;
    color: white;
    font-size: 27px;
    font-family: 'Source Sans Pro Black';
    overflow: visible !important;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.user-home>.content>.badges{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 17.5px;
}

.user-home>.content>.badges>.badge-item{
    position: relative;
    /* width: 68.75px; height: 68.75px; */
    height: 32.08px;
    margin: 0; padding: 0;
    /* border: 1px dashed red; */
    grid-column: span 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-home>.content>.badges>.badge-item.desarollador{
    background-image: url('./img/source_code_48px.png');
}

.user-home>.content>.badges>.badge-item.administrador{
    background-image: url('./img/queen_crown_48px.png');
}

.user-home>.content>.badges>.badge-item.mejorado{
    background-image: url('./img/vip_48px.png');
}

.user-home>.content>.badges>.badge-item.eagle{
    background-image: url('./img/crow_48px.png');
}

.user-home>.content>.btn-action{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 7.5px;
    padding-top: 10px; padding-bottom: 10px;
    display: flex;
    align-items: center; justify-content: center;
    color: white;
    font-size: 17.5px;
    font-family: 'Source Sans Pro SemiBold';
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}
.user-home>.content>.btn-action:hover{
    background-color: rgb(53, 53, 53);
}

.second{
    display: none;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 150px);
    width: 300px;
    height: 500px;
    margin: 0; padding: 0;
    box-shadow: 0 5px 10px rgb(24, 25, 28);
    background-color: rgb(24, 25, 28);
    overflow-y: auto;
}

.second>#btn-close-second{
    position: fixed;
    top: 0; left: 0;
    width: max-content;
    height: 30px;
    margin: 0; padding: 0;
    margin-top: 10px; margin-bottom: 10px; margin-left: 10px;
    padding-left: 15px; padding-right: 15px;
    background-color: rgb(166, 79, 248);
    border: 2px solid rgb(166, 79, 248);
    color: white;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: none;
    font-family: 'Source Sans Pro SemiBold';
    display: flex;
    align-items: center; justify-content: center;
    transition: .15s linear;
}
.second>#btn-close-second:focus{
    background-color: rgb(51, 51, 51);
    box-shadow: 0 0 0 2px rgb(166 79 248);
    color: rgb(186, 112, 255);
    border: 2px solid rgb(166, 79, 248);
}

.second>.content{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 50px;
    padding-left: 10px; padding-right: 10px;
}

.second>.content>.user-item{
    position: relative;
    width: 100%;
    height: 55px;
    margin: 0; padding: 0;
    display: flex;
    align-items: center;
}
.second>.content>.user-item:hover{
    cursor: pointer;
}
.second>.content>.user-item:hover>.username{
    text-decoration: underline .5px white;
    text-underline-offset: 2px;
}

.second>.content>.user-item>.avatar{
    position: relative;
    width: 40px; height: 40px;
    min-width: 40px;
    margin: 0; padding: 0;
    /* margin-left: 7.5px; */
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.second>.content>.user-item>.username{
    position: relative;
    width: max-content;
    margin: 0; padding: 0;
    margin-left: 10px;
    padding-right: 7.5px;
    color: white;
    font-size: 17.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.third{
    display: none;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 150px);
    width: 300px;
    height: 500px;
    margin: 0; padding: 0;
    box-shadow: 0 5px 10px rgb(24, 25, 28);
    background-color: rgb(24, 25, 28);
    overflow-y: auto;
}

.third>#btn-close-third{
    position: fixed;
    top: 0; left: 0;
    width: max-content;
    height: 30px;
    margin: 0; padding: 0;
    margin-top: 10px; margin-bottom: 10px; margin-left: 10px;
    padding-left: 15px; padding-right: 15px;
    background-color: rgb(166, 79, 248);
    border: 2px solid rgb(166, 79, 248);
    color: white;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: none;
    font-family: 'Source Sans Pro SemiBold';
    display: flex;
    align-items: center; justify-content: center;
    transition: .15s linear;
}
.third>#btn-close-third:focus{
    background-color: rgb(51, 51, 51);
    box-shadow: 0 0 0 2px rgb(166 79 248);
    color: rgb(186, 112, 255);
    border: 2px solid rgb(166, 79, 248);
}

.third>.content{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 50px;
}

.third>.content>.banner{
    position: relative;
    width: 100%;
    height: 120px;
    margin: 0; padding: 0;
    /* background-image: url('https://image.shutterstock.com/image-vector/color-gradient-background-design-abstract-260nw-1176137125.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.third>.content>.avatar{
    position: relative;
    width: 80px; height: 80px;
    margin: 0; padding: 0;
    margin-top: -40px;
    margin-left: 20px;
    /* background-color: rgb(100, 100, 100); */
    /* background-image: url('https://img.phonandroid.com/2021/03/netflix-codes-categories.jpg'); */
    border: 6px solid rgb(24, 25, 28);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5); */
}

.third>.content>.content{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    padding-left: 20px; padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third>.content>.content>.username{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 0px;
    color: white;
    font-size: 27px;
    font-family: 'Source Sans Pro Black';
    overflow: visible !important;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.third>.content>.content>.badges{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 17.5px;
}

.third>.content>.content>.badges>.badge-item{
    position: relative;
    /* width: 68.75px; height: 68.75px; */
    height: 32.08px;
    margin: 0; padding: 0;
    /* border: 1px dashed red; */
    grid-column: span 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.third>.content>.content>.badges>.badge-item.desarollador{
    background-image: url('./img/source_code_48px.png');
}

.third>.content>.content>.badges>.badge-item.administrador{
    background-image: url('./img/queen_crown_48px.png');
}

.third>.content>.content>.badges>.badge-item.mejorado{
    background-image: url('./img/vip_48px.png');
}

.third>.content>.content>.badges>.badge-item.eagle{
    background-image: url('./img/crow_48px.png');
}

.third>.content>.content>.btn-action{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 7.5px;
    padding-top: 10px; padding-bottom: 10px;
    display: flex;
    align-items: center; justify-content: center;
    color: white;
    font-size: 17.5px;
    font-family: 'Source Sans Pro SemiBold';
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}
.third>.content>.content>.btn-action:hover{
    background-color: rgb(53, 53, 53);
}